@model COVIDtestSite.ViewModels.AddTestSiteViewModel
@{
    ViewData["Title"] = "AddTestSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add A New Test Site</h1>

@using (Html.BeginForm("add", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.TestSiteName)
        @Html.TextBoxFor(m => m.TestSiteName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TestSiteName)
    </div>
    <div class="form-group">
        <label>Provider</label>
        @Html.DropDownListFor(m => m.ProviderId, new SelectList(Model.providers, "Id", "ProviderName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProviderId)
    </div>

    <div class="form-group">
        <label>Test Site Type</label>
        @Html.DropDownListFor(m => m.TestsiteTypeId, new SelectList(Model.testsitetypes, "Id", "TypeName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TestsiteTypeId)
    </div>

    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        <label>Latitude</label>
        @Html.TextBoxFor(m => m.lattitude, new { @class = "form-control" })
        
    </div>
    <div class="form-group">
        <label>Longitude</label>
        @Html.TextBoxFor(m => m.longitude, new { @class = "form-control" })
        
    </div>
    <button type="submit" class="btn btn-primary">Add</button>


}

