@model COVIDtestSite.ViewModels.CheckInViewModel
@{
    ViewData["Title"] = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Check In Now</h1>

@using (Html.BeginForm("checkinsave", "TestSite", FormMethod.Post))
{
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label>Medicare Number</label>
        @Html.TextBoxFor(m => m.medicareNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.TestingSiteId);
    <button class="btn btn-primary" type="submit">Check In</button>

}



